# Scanberry Pi settings
spdir=/opt/scanberrypi

# File handling
scan_dir=/var/spool/scan
datetime=`date +%F_%H%M%S`
filename="scan-$datetime"
#send_to=email@address.com

# Scanner settings
dpi=300
mode="Color"
depth=16
format="JPEG"
quality=75

# FTP upload settings
ftp_host="nas.local"
ftp_user="user"
ftp_pass="geheim"
ftp_dir="/Share/Scanner"
